# Ensemble Learning

## Initial Imports

In [165]:
import warnings
warnings.filterwarnings('ignore')

In [166]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [167]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from imblearn.metrics import classification_report_imbalanced
from imblearn.ensemble import BalancedRandomForestClassifier
from imblearn.ensemble import EasyEnsembleClassifier

## Read the CSV and Perform Basic Data Cleaning

In [168]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

## Data Preprocessing

In [169]:
X = df.copy()
X_cols = {}
for col in list(X.columns):
    X_cols[col] = X[col].dtype
    
X_cols

{'loan_amnt': dtype('float64'),
 'int_rate': dtype('float64'),
 'installment': dtype('float64'),
 'home_ownership': dtype('O'),
 'annual_inc': dtype('float64'),
 'verification_status': dtype('O'),
 'issue_d': dtype('O'),
 'loan_status': dtype('O'),
 'pymnt_plan': dtype('O'),
 'dti': dtype('float64'),
 'delinq_2yrs': dtype('float64'),
 'inq_last_6mths': dtype('float64'),
 'open_acc': dtype('float64'),
 'pub_rec': dtype('float64'),
 'revol_bal': dtype('float64'),
 'total_acc': dtype('float64'),
 'initial_list_status': dtype('O'),
 'out_prncp': dtype('float64'),
 'out_prncp_inv': dtype('float64'),
 'total_pymnt': dtype('float64'),
 'total_pymnt_inv': dtype('float64'),
 'total_rec_prncp': dtype('float64'),
 'total_rec_int': dtype('float64'),
 'total_rec_late_fee': dtype('float64'),
 'recoveries': dtype('float64'),
 'collection_recovery_fee': dtype('float64'),
 'last_pymnt_amnt': dtype('float64'),
 'next_pymnt_d': dtype('O'),
 'collections_12_mths_ex_med': dtype('float64'),
 'policy_code': dtype('float64'),
 'application_type': dtype('O'),
 'acc_now_delinq': dtype('float64'),
 'tot_coll_amt': dtype('float64'),
 'tot_cur_bal': dtype('float64'),
 'open_acc_6m': dtype('float64'),
 'open_act_il': dtype('float64'),
 'open_il_12m': dtype('float64'),
 'open_il_24m': dtype('float64'),
 'mths_since_rcnt_il': dtype('float64'),
 'total_bal_il': dtype('float64'),
 'il_util': dtype('float64'),
 'open_rv_12m': dtype('float64'),
 'open_rv_24m': dtype('float64'),
 'max_bal_bc': dtype('float64'),
 'all_util': dtype('float64'),
 'total_rev_hi_lim': dtype('float64'),
 'inq_fi': dtype('float64'),
 'total_cu_tl': dtype('float64'),
 'inq_last_12m': dtype('float64'),
 'acc_open_past_24mths': dtype('float64'),
 'avg_cur_bal': dtype('float64'),
 'bc_open_to_buy': dtype('float64'),
 'bc_util': dtype('float64'),
 'chargeoff_within_12_mths': dtype('float64'),
 'delinq_amnt': dtype('float64'),
 'mo_sin_old_il_acct': dtype('float64'),
 'mo_sin_old_rev_tl_op': dtype('float64'),
 'mo_sin_rcnt_rev_tl_op': dtype('float64'),
 'mo_sin_rcnt_tl': dtype('float64'),
 'mort_acc': dtype('float64'),
 'mths_since_recent_bc': dtype('float64'),
 'mths_since_recent_inq': dtype('float64'),
 'num_accts_ever_120_pd': dtype('float64'),
 'num_actv_bc_tl': dtype('float64'),
 'num_actv_rev_tl': dtype('float64'),
 'num_bc_sats': dtype('float64'),
 'num_bc_tl': dtype('float64'),
 'num_il_tl': dtype('float64'),
 'num_op_rev_tl': dtype('float64'),
 'num_rev_accts': dtype('float64'),
 'num_rev_tl_bal_gt_0': dtype('float64'),
 'num_sats': dtype('float64'),
 'num_tl_120dpd_2m': dtype('float64'),
 'num_tl_30dpd': dtype('float64'),
 'num_tl_90g_dpd_24m': dtype('float64'),
 'num_tl_op_past_12m': dtype('float64'),
 'pct_tl_nvr_dlq': dtype('float64'),
 'percent_bc_gt_75': dtype('float64'),
 'pub_rec_bankruptcies': dtype('float64'),
 'tax_liens': dtype('float64'),
 'tot_hi_cred_lim': dtype('float64'),
 'total_bal_ex_mort': dtype('float64'),
 'total_bc_limit': dtype('float64'),
 'total_il_high_credit_limit': dtype('float64'),
 'hardship_flag': dtype('O'),
 'debt_settlement_flag': dtype('O')}

In [170]:
objects = list(X.select_dtypes(include='O').columns)
X_obj = X[objects]
X_obj.head()

,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,initial_list_status,next_pymnt_d,application_type,hardship_flag,debt_settlement_flag
0,RENT,Source Verified,Mar-2019,low_risk,n,w,May-2019,Individual,N,N
1,MORTGAGE,Verified,Mar-2019,low_risk,n,w,May-2019,Individual,N,N
2,MORTGAGE,Verified,Mar-2019,low_risk,n,w,May-2019,Individual,N,N
3,RENT,Verified,Mar-2019,low_risk,n,w,May-2019,Individual,N,N
4,MORTGAGE,Not Verified,Mar-2019,low_risk,n,w,May-2019,Individual,N,N

In [171]:
# Show all unique values for all object columns
encoding = {}
for col in list(X_obj.columns):
    encoding[col] = list(X_obj[col].unique())

encoding

{'home_ownership': ['RENT', 'MORTGAGE', 'OWN', 'ANY'],
 'verification_status': ['Source Verified', 'Verified', 'Not Verified'],
 'issue_d': ['Mar-2019', 'Feb-2019', 'Jan-2019'],
 'loan_status': ['low_risk', 'high_risk'],
 'pymnt_plan': ['n'],
 'initial_list_status': ['w', 'f'],
 'next_pymnt_d': ['May-2019', 'Apr-2019'],
 'application_type': ['Individual', 'Joint App'],
 'hardship_flag': ['N'],
 'debt_settlement_flag': ['N']}

In [172]:
#drop unwanted columns

X_obj.drop(['issue_d', 'pymnt_plan', 'next_pymnt_d', 'hardship_flag', 'debt_settlement_flag'], axis=1, inplace=True)
X_obj.head()

,home_ownership,verification_status,loan_status,initial_list_status,application_type
0,RENT,Source Verified,low_risk,w,Individual
1,MORTGAGE,Verified,low_risk,w,Individual
2,MORTGAGE,Verified,low_risk,w,Individual
3,RENT,Verified,low_risk,w,Individual
4,MORTGAGE,Not Verified,low_risk,w,Individual

In [173]:
def label_encoding(data, feature):
    mapping_dict = {}
    for feat in feature:
        for i, feature_value in enumerate(list(data[feat].sort_values(ascending=False).unique())):
            mapping_dict[feature_value] = i+1
        data[feat] = data[feat].map(lambda x: mapping_dict[x])
    return data

In [174]:
X = label_encoding(X, list(X_obj.columns))

In [175]:
X.drop(list(X.select_dtypes(include='O').columns), axis=1, inplace=True)

In [176]:
X.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,dti,delinq_2yrs,inq_last_6mths,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,10500.0,0.1719,375.35,1,66000.0,2,1,27.24,0.0,0.0,...,0.0,3.0,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0
1,25000.0,0.2000,929.09,3,105000.0,1,1,20.23,0.0,0.0,...,0.0,6.0,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0
2,20000.0,0.2000,529.88,3,56000.0,1,1,24.26,0.0,0.0,...,0.0,4.0,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0
3,10000.0,0.1640,353.55,1,92000.0,1,1,31.44,0.0,1.0,...,0.0,1.0,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0
4,22000.0,0.1474,520.39,3,52000.0,3,1,18.76,0.0,1.0,...,0.0,1.0,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0

In [177]:
X.dropna(inplace=True)
X.shape

(68817, 81)

## Split the Data into Training and Testing

In [178]:
# Create our target
y = df.loan_status

# Drop target from Training/Testing Data
X.drop('loan_status', axis=1, inplace=True)

In [179]:
# Check the balance of our target values
Counter(y)

Counter({'low_risk': 68470, 'high_risk': 347})

In [180]:
# Split the X and y into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [181]:
ss=StandardScaler()

In [192]:
# Fit the Standard Scaler with the training data
ss.fit(X_train)
X_train_scaled=ss.transform(X_train)
X_test_scaled=ss.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [220]:
# Resample the training data with the BalancedRandomForestClassifier
brf_model=BalancedRandomForestClassifier(random_state=1)
setattr(brf_model, 'n_features_', 80)
brf_model.fit(X_train_scaled, y_train)
y_brf_pred=brf_model.predict(X_test_scaled)

AttributeError: can't set attribute

In [ ]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_brf_pred)

In [ ]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_brf_pred)
cm_df = pd.DataFrame(
    cm, index=["high_risk", "low_risk"], columns=["high_risk_pred", "low_risk_pred"]   
)
cm_df

In [ ]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred_brf))

In [ ]:
# List the features sorted in descending order by feature importance
sorted(zip(brf_model.feature_importances_, X_train.columns), reverse=True)

### Easy Ensemble Classifier

In [210]:
# Train the Classifier
eec = EasyEnsembleClassifier(random_state=1)

In [211]:
setattr(eec, 'n_features_in_', 80)

In [213]:
eec.fit(X_train_scaled, y_train)
y_eec_pred = eec.predict(X_test_scaled)

In [214]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_eec_pred)

0.6792080899595782

In [215]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_eec_pred)
cm_df = pd.DataFrame(
    cm, index=["high_risk", "low_risk"], columns=["high_risk_pred", "low_risk_pred"]   
)
cm_df

           high_risk_pred  low_risk_pred
high_risk              53             39
low_risk             3725          13388

In [216]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_eec_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.01      0.58      0.78      0.03      0.67      0.44        92
   low_risk       1.00      0.78      0.58      0.88      0.67      0.46     17113

avg / total       0.99      0.78      0.58      0.87      0.67      0.46     17205

### Final Questions

1. Which model had the best balanced accuracy score?

    YOUR ANSWER HERE.

2. Which model had the best recall score?

    YOUR ANSWER HERE.

3. Which model had the best geometric mean score?

    YOUR ANSWER HERE.

4. What are the top three features?

    YOUR ANSWER HERE.

In [221]:
# Can't answer as Balanced Random Forest Classifier is not working